<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table"  id="table-attendances">
    <tr>
      <td>
        <%= link_to " ←️️︎ ", user_path(date: @first_day.prev_month), class: "btn bt-xs btn-default" %>
        &emsp;<%= l(@first_day, format: :middle) %>時間管理表&emsp;
        <%= link_to " →️", user_path(date: @first_day.next_month), class: "btn btn-default" %>
      </td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td colspan="２">初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class="btn-users-show">
<%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-default" %>
</div>
<div>
  <table class="table table-bordered table-condensed table-striped table-hover" id="table-attendances">
    <thead>
      <tr>
        <!--rowspan:縦に連結、colspan:横に連結-->
        <th rowspan = "2" >日付</th>
        <th rowspan = "2" >曜日</th>
        <th rowspan=  "1" colspan = "3" >出社</th>
        <th rowspan=  "1" colspan = "3" >退社</th>
        <th rowspan = "2" >在社時間</th>
        <th rowspan = "2" >備考</th>
      </tr>
       <tr>
        <th>時</th>
        <th>分</th>
        <th>　　</th>
        <th>時</th>
        <th>分</th>
        <th>　　</th>
      </tr>
    </thead>

  <tbody>
    <% @attendances.each do |day| %>
    
    <tr>
      <td><%= l(day.worked_on, format: :short) %></td>
      <td class ="<%= "wday#{day.worked_on.wday}" %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
      <td><%= day.started_at.floor_to(15.minutes).hour if day.started_at.present? %></td>
      <td><%= day.started_at.floor_to(15.minutes).min if day.started_at.present? %></td>
      <td>
        <% if (Date.current == day.worked_on) && day.started_at.nil? %>
          <%= link_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
        <% end %>
      </td>
      <td><%= day.finished_at.floor_to(15.minutes).hour if day.finished_at.present? %></td>
      <td><%= day.finished_at.floor_to(15.minutes).min if day.finished_at.present? %></td>
      <td>
        <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %>
          <%= link_to "退社", user_attendance_path(@user,day), method: :patch, class:"btn btn-primary btn-attendance" %>
        <% end %>
      </td>
      <td>
        <% if day.started_at.present? && day.finished_at.present? %>
          <%= str_times = working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
          <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
        <% end %>
      </td>
      <td><%= day.note %></td>
    </tr>
   <% end %>
  </tbody>

  <tfoot>
    <!--rowspan:縦連結、colspan：横連結-->
    <tr>
      <td colspan="2">累計日数</td>
      <td colspan="6">総合勤務時間</td>
      <td colspan="2">累計在社時間</td>
    </tr>
    <tr>
      <td colspan="2"><%= @attendances.count %></td>
      <td colspan="6"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
      <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
    </tr>
  </tfoot>
  </table>
</div>
</div>